{% extends "base.html" %}


{% block page_name %}
    Home
{% endblock page_name %}

{% block content %}

    {% for room in page.object_list  %}
        <h2>{{room.name}} / ${{room.price}}</h2>
    {% endfor %}

    <h5>
    {% if page.has_previous %}
        <a href="?page={{page.previous_page_number}}">Previous</a>
    {% endif %}

    Page {{page}} of {{page_count}}

    {% if page.has_next  %}
        <a href="?page={{page.next_page_number}}">Next</a>
    {% endif %}

{% endblock content %}
